<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style/style.css" />
    <title>{{docTitle}}</title>
</head>
<body>
    <div id="home_page">
    <div id="content">
    <h1 id="head">{{message}}</h1>
   <div id="additional-content" >
    <h1 id="head">Hello I'm <span id="user">Sivaprasath2004</span></h1>
    <div id="addition">
   <h1 id="head">Aspiring Back-End developer</h1>
   <a id="contact_address" href="https://github.com/Sivaprasath2004">Contact Us
   <img id="next_icon" src="style/img/next.png" alt="going_to"></a></div>
    </div>
    </div>
    <div id="heading">
    <h2 id="heading_tag">Invisitor.com</h2>
    <a class="a" href="/Home">Home</a>
    <a class="a" href="/login">Login</a>
    <a class="a" href="/signup">Signup</a>
   </div>
   </div>
</body>
</html>